@model ProductDetailsViewModel
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Product Page";
}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Products">Products</a></li>
            <li>
                <a asp-action="Index" asp-controller="Products"
                   asp-route-category="@Model.Product.Category">@Model.Product.Category</a>
            </li>
            <li class="active">@Model.Product.Name</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!--  Product Details -->
            <div class="product product-details clearfix">
                <div class="col-md-6">
                    @if (Model.Product.Photos.Any())
                { 
                     <div id="product-main-view">
                        @foreach (var photo in Model.Product.Photos)
                        {
                    
                        <div class="product-view">
                            <img src="@photo.Url" alt="">
                        </div>
                        }
                    </div>
                     <div id="product-view">
                        @foreach (var photo in Model.Product.Photos)
                        {
                    
                        <div class="product-view">
                            <img src="@photo.Url" alt="">
                        </div>
                        }
                    </div>
                }
                else{
                    <div id="product-main-view">
                        <div class="product-view">
                            <img src="~/images/thumb-product01.jpg" alt="">
                        </div>
                        <div class="product-view">
                            <img src="~/images/thumb-product02.jpg" alt="">
                        </div>
                        
                        <div class="product-view">
                            <img src="~/images/thumb-product03.jpg" alt="">
                        </div>
                        <div class="product-view">
                            <img src="~/images/thumb-product04.jpg" alt="">
                        </div>
                    </div>
                    <div id="product-view">
                        <div class="product-view">
                            <img src="~/images/thumb-product01.jpg" alt="">
                        </div>
                        <div class="product-view">
                            <img src="~/images/thumb-product02.jpg" alt="">
                        </div>
                        <div class="product-view">
                            <img src="~/images/thumb-product03.jpg" alt="">
                        </div>
                        <div class="product-view">
                            <img src="~/images/thumb-product04.jpg" alt="">
                        </div>
                    </div>   
                }     
                </div>
                <div class="col-md-6">
                    <div class="product-body">
                        <div class="product-label">
                        </div>
                        <h2 class="product-name">@Model.Product.Name</h2>
                        <h3 class="product-price">@Model.Product.Price</h3>
                        <div>
                            @if (Model.Product.ProductReviews.Any())
                            {
                                <div class="product-rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= Math.Round(Model.Product.AverageRating, 0, MidpointRounding.AwayFromZero))
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star-o empty"></i>
                                        }
                                    }
                                </div>
                                <strong>@Model.Product.ProductReviews.Count Review(s)</strong>
                            }
                            else
                            {
                                <p><strong>No review yet</strong></p>
                            }
                        </div>
                        <p><strong>Availability:</strong> @((Model.Product.Stock > 0) ? "In stock" : "Out of stock")</p>
                        <p><strong>Brand:</strong> @(Model.Product.Brand == "" ? "None" : Model.Product.Brand)</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <form class="product-btns"
                              asp-action="AddToCart"
                              asp-controller="Customers">
                            <div class="qty-input">
                                <span class="text-uppercase">QTY: </span>
                                <input class="input" type="number" min="0" max="@Model.Product.Stock" asp-for="Quantity">
                            </div>
                            <input class="input" type="hidden" asp-for="Id" value="@Model.Product.ID">
                            <input class="input" type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl">
                            <button class="primary-btn add-to-cart" type="submit">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </button>
                            <a class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                            <div class="pull-right">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="product-tab">
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab1">Details</a></li>
                            <li><a data-toggle="tab" href="#tab2">Reviews (@Model.ProductReviews.Count)</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                            <div id="tab2" class="tab-pane fade in">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="product-reviews">
                                            @if (Model.ProductReviews.Any())
                                            {
                                                @foreach (var review in Model.ProductReviews)
                                                {
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div><i class="fa fa-user-o"></i> @review.Order.RecipientName</div>
                                                            <div><i class="fa fa-clock-o"></i> @review.DateAdded</div>
                                                            <div class="review-rating pull-right">
                                                                @for (int i = 1; i <= 5; i++)
                                                                {
                                                                    if (i <= review.Rating)
                                                                    {
                                                                        <i class="fa fa-star"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="fa fa-star-o empty"></i>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="review-body">
                                                            <p>
                                                                @review.Description
                                                            </p>
                                                        </div>
                                                    </div>
                                                }

                                                <nav aria-label="Product Reviews" style="display: inline-block;">
                                                    <vc:pager paging-list="@Model.ProductReviews" />
                                                </nav>
                                            }
                                            else
                                            {
                                                <strong>No review yet</strong>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Product Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
